<!DOCTYPE html>
<html>
<style>
body {
		padding-top: 20%;
		height: 100vh;
		background: linear-gradient(to bottom right, #CAA89C, #434EFC);
}
h1{
	text-align: center;
	color: white;
}

</style>
  <body>
   <h1> <div id="countdown"></div> </h1>  <!--Show Timer -->
    <script>
	//JS code for countdown timer
      function countdownTimer() {
        const difference = +new Date("2020-12-31") - +new Date();
        let remaining = "Time's up!";

        if (difference > 0) {
          const parts = {
            days: Math.floor(difference / (1000 * 60 * 60 * 24)),
            hours: Math.floor((difference / (1000 * 60 * 60)) % 24),
            minutes: Math.floor((difference / 1000 / 60) % 60),
            seconds: Math.floor((difference / 1000) % 60)
          };

          remaining = Object.keys(parts)
            .map(part => {
              if (!parts[part]) return;
              return `${parts[part]} ${part}`;
            })
            .join(" ");
        }

        document.getElementById("countdown").innerHTML = remaining;
      }

      countdownTimer();
      setInterval(countdownTimer, 1000);
    </script>
  </body>
</html>